:root {
    --initialLeft: "0px";
    --initialTop: "0px";
    --finalLeft: "0px";
    --finalTop: "0px";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.game {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #eee;
    overflow: hidden;
}

.duck {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
}

.duck img {
    height: inherit;
}

.gun {
    position: absolute;
    bottom: 10%;
    left: calc(50% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.gun img {
    height: 130px;
}

.shot {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.shot img {
    height: 20px;
}

.shotAnimation {
    animation: shotAnimation linear;
    animation-duration: 0s;
}

@keyframes shotAnimation {
    0% {
        left: var(--initialLeft);
        top: var(--initialTop);
    }

    100% {
        left: var(--finalLeft);
        top: var(--finalTop);
    }
}