:root {
    --initialLeft: "0px";
    --initialTop: "0px";
    --finalLeft: "0px";
    --finalTop: "0px";
    --orange: #ef8100;
    --red: #f40840;
    --blue: #2d9aa7
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.duck, .gun {color: #eee;}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
}

.game {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    overflow: hidden;
}

.header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 70px;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
}

.header span {
    font-weight: bold;
    margin-left: 10px;
}

.duck {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.duck img {
    height: inherit;
}

.explosion {
    position: absolute;
    top: 25%;
    left: 0px;
    display: none;
}

.explosion img {
    height: 100px;
}

/*.gun {
    position: absolute;
    z-index: 99;
    bottom: 10%;
    left: calc(50% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.gun img {
    height: 130px;
}*/

.shot {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.shot img {
    height: 70px;
}

.shotAnimation {
    animation: shotAnimation linear;
    animation-duration: 0s;
}

.victory {
    position: absolute;
    z-index: 999;
    top: 110px;
    width: 100%;
    height: 60%;
    display: none;
    align-items: center;
    justify-content: center;
}

.victory-content {
    background-color: var(--blue);
    background-size: cover;
    width: 80%;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 32px 10px rgb(168, 168, 168);
    border-radius: 10px;
}

.victory p {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.victory button {
    width: 150px;
    height: 50px;
    background-color: var(--orange);
    border: 1px solid #000;
    border-radius: 30px;
    outline: none;
}

@keyframes shotAnimation {
    0% {
        left: var(--initialLeft);
        top: var(--initialTop);
    }

    100% {
        left: var(--finalLeft);
        top: var(--finalTop);
    }
}